# Youtube

> [link to tutorial](https://www.youtube.com/watch?v=vmEHCJofslg&t=7s)

> **data** is stored in ./data/pokemons
***

## Loading Data

In [1]:
import pandas as pd

df = pd.read_csv('./data/pokemons/pokemon_data.csv', index_col=0)

# Other methods to load
df_xlsx = pd.read_excel('./data/pokemons/pokemon_data.xlsx')
df_txt  = pd.read_csv('./data/pokemons/pokemon_data.txt', delimiter='\t')

In [2]:
df.head(3)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [3]:
df_xlsx.head(1)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

In [4]:
df_txt.head(1)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

## Reading Data

In [5]:
# headers
df.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [6]:
# read column
df.Name
df[['Name', 'Type 1']]

                      Name   Type 1
#
1                Bulbasaur    Grass
2                  Ivysaur    Grass
3                 Venusaur    Grass
3    VenusaurMega Venusaur    Grass
4               Charmander     Fire
..                     ...      ...
719                Diancie     Rock
719    DiancieMega Diancie     Rock
720    HoopaHoopa Confined  Psychic
720     HoopaHoopa Unbound  Psychic
721              Volcanion     Fire

[800 rows x 2 columns]

In [7]:
## slice
df.Name[0:5]

#
1                Bulbasaur
2                  Ivysaur
3                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [8]:
# read row
df.iloc[1:4]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [9]:
## read cell
df.iloc[1,2]

'Poison'

In [10]:
## sort of cycle
for index, row in df.iterrows():
    print(index, row.Name)

1 Bulbasaur
2 Ivysaur
3 Venusaur
3 VenusaurMega Venusaur
4 Charmander
5 Charmeleon
6 Charizard
6 CharizardMega Charizard X
6 CharizardMega Charizard Y
7 Squirtle
8 Wartortle
9 Blastoise
9 BlastoiseMega Blastoise
10 Caterpie
11 Metapod
12 Butterfree
13 Weedle
14 Kakuna
15 Beedrill
15 BeedrillMega Beedrill
16 Pidgey
17 Pidgeotto
18 Pidgeot
18 PidgeotMega Pidgeot
19 Rattata
20 Raticate
21 Spearow
22 Fearow
23 Ekans
24 Arbok
25 Pikachu
26 Raichu
27 Sandshrew
28 Sandslash
29 Nidoran (Female)
30 Nidorina
31 Nidoqueen
32 Nidoran (Male)
33 Nidorino
34 Nidoking
35 Clefairy
36 Clefable
37 Vulpix
38 Ninetales
39 Jigglypuff
40 Wigglytuff
41 Zubat
42 Golbat
43 Oddish
44 Gloom
45 Vileplume
46 Paras
47 Parasect
48 Venonat
49 Venomoth
50 Diglett
51 Dugtrio
52 Meowth
53 Persian
54 Psyduck
55 Golduck
56 Mankey
57 Primeape
58 Growlithe
59 Arcanine
60 Poliwag
61 Poliwhirl
62 Poliwrath
63 Abra
64 Kadabra
65 Alakazam
65 AlakazamMega Alakazam
66 Machop
67 Machoke
68 Machamp
69 Bellsprout
70 Weepinbell
71 Victreebel
72 Tentacool
73 Tentacruel
74 Geodude
75 Graveler
76 Golem
77 Ponyta
78 Rapidash
79 Slowpoke
80 Slowbro
80 SlowbroMega Slowbro
81 Magnemite
82 Magneton
83 Farfetch'd
84 Doduo
85 Dodrio
86 Seel
87 Dewgong
88 Grimer
89 Muk
90 Shellder
91 Cloyster
92 Gastly
93 Haunter
94 Gengar
94 GengarMega Gengar
95 Onix
96 Drowzee
97 Hypno
98 Krabby
99 Kingler
100 Voltorb
101 Electrode
102 Exeggcute
103 Exeggutor
104 Cubone
105 Marowak
106 Hitmonlee
107 Hitmonchan
108 Lickitung
109 Koffing
110 Weezing
111 Rhyhorn
112 Rhydon
113 Chansey
114 Tangela
115 Kangaskhan
115 KangaskhanMega Kangaskhan
116 Horsea
117 Seadra
118 Goldeen
119 Seaking
120 Staryu
121 Starmie
122 Mr. Mime
123 Scyther
124 Jynx
125 Electabuzz
126 Magmar
127 Pinsir
127 PinsirMega Pinsir
128 Tauros
129 Magikarp
130 Gyarados
130 GyaradosMega Gyarados
131 Lapras
132 Ditto
133 Eevee
134 Vaporeon
135 Jolteon
136 Flareon
137 Porygon
138 Omanyte
139 Omastar
140 Kabuto
141 Kabutops
142 Aerodactyl
142 AerodactylMega Aerodactyl
143 Snorlax
144 Articuno
145 Zapdos
146 Moltres
147 Dratini
148 Dragonair
149 Dragonite
150 Mewtwo
150 MewtwoMega Mewtwo X
150 MewtwoMega Mewtwo Y
151 Mew
152 Chikorita
153 Bayleef
154 Meganium
155 Cyndaquil
156 Quilava
157 Typhlosion
158 Totodile
159 Croconaw
160 Feraligatr
161 Sentret
162 Furret
163 Hoothoot
164 Noctowl
165 Ledyba
166 Ledian
167 Spinarak
168 Ariados
169 Crobat
170 Chinchou
171 Lanturn
172 Pichu
173 Cleffa
174 Igglybuff
175 Togepi
176 Togetic
177 Natu
178 Xatu
179 Mareep
180 Flaaffy
181 Ampharos
181 AmpharosMega Ampharos
182 Bellossom
183 Marill
184 Azumarill
185 Sudowoodo
186 Politoed
187 Hoppip
188 Skiploom
189 Jumpluff
190 Aipom
191 Sunkern
192 Sunflora
193 Yanma
194 Wooper
195 Quagsire
196 Espeon
197 Umbreon
198 Murkrow
199 Slowking
200 Misdreavus
201 Unown
202 Wobbuffet
203 Girafarig
204 Pineco
205 Forretress
206 Dunsparce
207 Gligar
208 Steelix
208 SteelixMega Steelix
209 Snubbull
210 Granbull
211 Qwilfish
212 Scizor
212 ScizorMega Scizor
213 Shuckle
214 Heracross
214 HeracrossMega Heracross
215 Sneasel
216 Teddiursa
217 Ursaring
218 Slugma
219 Magcargo
220 Swinub
221 Piloswine
222 Corsola
223 Remoraid
224 Octillery
225 Delibird
226 Mantine
227 Skarmory
228 Houndour
229 Houndoom
229 HoundoomMega Houndoom
230 Kingdra
231 Phanpy
232 Donphan
233 Porygon2
234 Stantler
235 Smeargle
236 Tyrogue
237 Hitmontop
238 Smoochum
239 Elekid
240 Magby
241 Miltank
242 Blissey
243 Raikou
244 Entei
245 Suicune
246 Larvitar
247 Pupitar
248 Tyranitar
248 TyranitarMega Tyranitar
249 Lugia
250 Ho-oh
251 Celebi
252 Treecko
253 Grovyle
254 Sceptile
254 SceptileMega Sceptile
255 Torchic
256 Combusken
257 Blaziken
257 BlazikenMega Blaziken
258 Mudkip
259 Marshtomp
260 Swampert
260 SwampertMega Swampert
261 Poochyena
262 Mightyena
263 Zigzagoon
264 Linoone
265 Wurmple
266 Silcoon
267 Beautifly
268 Cascoon
269 Dustox
270 Lotad
271 Lombre
272 Ludicolo
273 Seedot
274 Nuzleaf
275 Shiftry
276 Taillow
277 Swellow
278 Wingull
279 Pelipper
280 Ralts
281 Kirlia
282 Gardevoir
282 GardevoirMega Gardevoir
283 Surskit
284 Masquerain
285 Shroomish
286 Breloom
287 Slakoth
288 Vigoroth
289 Slaking
290 Nincada
291 Ninjask
292 Shedinja
293 Whismur
294 Loudred
295 Exploud
296 Makuhita
297 Hariyama
298 Azurill
299 Nosepass
300 Skitty
301 Delcatty
302 Sableye
302 SableyeMega Sableye
303 Mawile
303 MawileMega Mawile
304 Aron
305 Lairon
306 Aggron
306 AggronMega Aggron
307 Meditite
308 Medicham
308 MedichamMega Medicham
309 Electrike
310 Manectric
310 ManectricMega Manectric
311 Plusle
312 Minun
313 Volbeat
314 Illumise
315 Roselia
316 Gulpin
317 Swalot
318 Carvanha
319 Sharpedo
319 SharpedoMega Sharpedo
320 Wailmer
321 Wailord
322 Numel
323 Camerupt
323 CameruptMega Camerupt
324 Torkoal
325 Spoink
326 Grumpig
327 Spinda
328 Trapinch
329 Vibrava
330 Flygon
331 Cacnea
332 Cacturne
333 Swablu
334 Altaria
334 AltariaMega Altaria
335 Zangoose
336 Seviper
337 Lunatone
338 Solrock
339 Barboach
340 Whiscash
341 Corphish
342 Crawdaunt
343 Baltoy
344 Claydol
345 Lileep
346 Cradily
347 Anorith
348 Armaldo
349 Feebas
350 Milotic
351 Castform
352 Kecleon
353 Shuppet
354 Banette
354 BanetteMega Banette
355 Duskull
356 Dusclops
357 Tropius
358 Chimecho
359 Absol
359 AbsolMega Absol
360 Wynaut
361 Snorunt
362 Glalie
362 GlalieMega Glalie
363 Spheal
364 Sealeo
365 Walrein
366 Clamperl
367 Huntail
368 Gorebyss
369 Relicanth
370 Luvdisc
371 Bagon
372 Shelgon
373 Salamence
373 SalamenceMega Salamence
374 Beldum
375 Metang
376 Metagross
376 MetagrossMega Metagross
377 Regirock
378 Regice
379 Registeel
380 Latias
380 LatiasMega Latias
381 Latios
381 LatiosMega Latios
382 Kyogre
382 KyogrePrimal Kyogre
383 Groudon
383 GroudonPrimal Groudon
384 Rayquaza
384 RayquazaMega Rayquaza
385 Jirachi
386 DeoxysNormal Forme
386 DeoxysAttack Forme
386 DeoxysDefense Forme
386 DeoxysSpeed Forme
387 Turtwig
388 Grotle
389 Torterra
390 Chimchar
391 Monferno
392 Infernape
393 Piplup
394 Prinplup
395 Empoleon
396 Starly
397 Staravia
398 Staraptor
399 Bidoof
400 Bibarel
401 Kricketot
402 Kricketune
403 Shinx
404 Luxio
405 Luxray
406 Budew
407 Roserade
408 Cranidos
409 Rampardos
410 Shieldon
411 Bastiodon
412 Burmy
413 WormadamPlant Cloak
413 WormadamSandy Cloak
413 WormadamTrash Cloak
414 Mothim
415 Combee
416 Vespiquen
417 Pachirisu
418 Buizel
419 Floatzel
420 Cherubi
421 Cherrim
422 Shellos
423 Gastrodon
424 Ambipom
425 Drifloon
426 Drifblim
427 Buneary
428 Lopunny
428 LopunnyMega Lopunny
429 Mismagius
430 Honchkrow
431 Glameow
432 Purugly
433 Chingling
434 Stunky
435 Skuntank
436 Bronzor
437 Bronzong
438 Bonsly
439 Mime Jr.
440 Happiny
441 Chatot
442 Spiritomb
443 Gible
444 Gabite
445 Garchomp
445 GarchompMega Garchomp
446 Munchlax
447 Riolu
448 Lucario
448 LucarioMega Lucario
449 Hippopotas
450 Hippowdon
451 Skorupi
452 Drapion
453 Croagunk
454 Toxicroak
455 Carnivine
456 Finneon
457 Lumineon
458 Mantyke
459 Snover
460 Abomasnow
460 AbomasnowMega Abomasnow
461 Weavile
462 Magnezone
463 Lickilicky
464 Rhyperior
465 Tangrowth
466 Electivire
467 Magmortar
468 Togekiss
469 Yanmega
470 Leafeon
471 Glaceon
472 Gliscor
473 Mamoswine
474 Porygon-Z
475 Gallade
475 GalladeMega Gallade
476 Probopass
477 Dusknoir
478 Froslass
479 Rotom
479 RotomHeat Rotom
479 RotomWash Rotom
479 RotomFrost Rotom
479 RotomFan Rotom
479 RotomMow Rotom
480 Uxie
481 Mesprit
482 Azelf
483 Dialga
484 Palkia
485 Heatran
486 Regigigas
487 GiratinaAltered Forme
487 GiratinaOrigin Forme
488 Cresselia
489 Phione
490 Manaphy
491 Darkrai
492 ShayminLand Forme
492 ShayminSky Forme
493 Arceus
494 Victini
495 Snivy
496 Servine
497 Serperior
498 Tepig
499 Pignite
500 Emboar
501 Oshawott
502 Dewott
503 Samurott
504 Patrat
505 Watchog
506 Lillipup
507 Herdier
508 Stoutland
509 Purrloin
510 Liepard
511 Pansage
512 Simisage
513 Pansear
514 Simisear
515 Panpour
516 Simipour
517 Munna
518 Musharna
519 Pidove
520 Tranquill
521 Unfezant
522 Blitzle
523 Zebstrika
524 Roggenrola
525 Boldore
526 Gigalith
527 Woobat
528 Swoobat
529 Drilbur
530 Excadrill
531 Audino
531 AudinoMega Audino
532 Timburr
533 Gurdurr
534 Conkeldurr
535 Tympole
536 Palpitoad
537 Seismitoad
538 Throh
539 Sawk
540 Sewaddle
541 Swadloon
542 Leavanny
543 Venipede
544 Whirlipede
545 Scolipede
546 Cottonee
547 Whimsicott
548 Petilil
549 Lilligant
550 Basculin
551 Sandile
552 Krokorok
553 Krookodile
554 Darumaka
555 DarmanitanStandard Mode
555 DarmanitanZen Mode
556 Maractus
557 Dwebble
558 Crustle
559 Scraggy
560 Scrafty
561 Sigilyph
562 Yamask
563 Cofagrigus
564 Tirtouga
565 Carracosta
566 Archen
567 Archeops
568 Trubbish
569 Garbodor
570 Zorua
571 Zoroark
572 Minccino
573 Cinccino
574 Gothita
575 Gothorita
576 Gothitelle
577 Solosis
578 Duosion
579 Reuniclus
580 Ducklett
581 Swanna
582 Vanillite
583 Vanillish
584 Vanilluxe
585 Deerling
586 Sawsbuck
587 Emolga
588 Karrablast
589 Escavalier
590 Foongus
591 Amoonguss
592 Frillish
593 Jellicent
594 Alomomola
595 Joltik
596 Galvantula
597 Ferroseed
598 Ferrothorn
599 Klink
600 Klang
601 Klinklang
602 Tynamo
603 Eelektrik
604 Eelektross
605 Elgyem
606 Beheeyem
607 Litwick
608 Lampent
609 Chandelure
610 Axew
611 Fraxure
612 Haxorus
613 Cubchoo
614 Beartic
615 Cryogonal
616 Shelmet
617 Accelgor
618 Stunfisk
619 Mienfoo
620 Mienshao
621 Druddigon
622 Golett
623 Golurk
624 Pawniard
625 Bisharp
626 Bouffalant
627 Rufflet
628 Braviary
629 Vullaby
630 Mandibuzz
631 Heatmor
632 Durant
633 Deino
634 Zweilous
635 Hydreigon
636 Larvesta
637 Volcarona
638 Cobalion
639 Terrakion
640 Virizion
641 TornadusIncarnate Forme
641 TornadusTherian Forme
642 ThundurusIncarnate Forme
642 ThundurusTherian Forme
643 Reshiram
644 Zekrom
645 LandorusIncarnate Forme
645 LandorusTherian Forme
646 Kyurem
646 KyuremBlack Kyurem
646 KyuremWhite Kyurem
647 KeldeoOrdinary Forme
647 KeldeoResolute Forme
648 MeloettaAria Forme
648 MeloettaPirouette Forme
649 Genesect
650 Chespin
651 Quilladin
652 Chesnaught
653 Fennekin
654 Braixen
655 Delphox
656 Froakie
657 Frogadier
658 Greninja
659 Bunnelby
660 Diggersby
661 Fletchling
662 Fletchinder
663 Talonflame
664 Scatterbug
665 Spewpa
666 Vivillon
667 Litleo
668 Pyroar
669 Flabébé
670 Floette
671 Florges
672 Skiddo
673 Gogoat
674 Pancham
675 Pangoro
676 Furfrou
677 Espurr
678 MeowsticMale
678 MeowsticFemale
679 Honedge
680 Doublade
681 AegislashBlade Forme
681 AegislashShield Forme
682 Spritzee
683 Aromatisse
684 Swirlix
685 Slurpuff
686 Inkay
687 Malamar
688 Binacle
689 Barbaracle
690 Skrelp
691 Dragalge
692 Clauncher
693 Clawitzer
694 Helioptile
695 Heliolisk
696 Tyrunt
697 Tyrantrum
698 Amaura
699 Aurorus
700 Sylveon
701 Hawlucha
702 Dedenne
703 Carbink
704 Goomy
705 Sliggoo
706 Goodra
707 Klefki
708 Phantump
709 Trevenant
710 PumpkabooAverage Size
710 PumpkabooSmall Size
710 PumpkabooLarge Size
710 PumpkabooSuper Size
711 GourgeistAverage Size
711 GourgeistSmall Size
711 GourgeistLarge Size
711 GourgeistSuper Size
712 Bergmite
713 Avalugg
714 Noibat
715 Noivern
716 Xerneas
717 Yveltal
718 Zygarde50% Forme
719 Diancie
719 DiancieMega Diancie
720 HoopaHoopa Confined
720 HoopaHoopa Unbound
721 Volcanion

In [11]:
# using loc
df.loc[df['Type 1'] == 'Fire'].head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

## Sorting/Describing Data

In [12]:
# using describe method
df.describe()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [13]:
# sorting
df.sort_values('Name', ascending=False)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...
359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [14]:
# complex sorting
df.sort_values(['Name', 'HP'], ascending=[True, False])

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...
571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

## Changing Data

In [15]:
# new column
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# new column
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,274
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,346
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,446
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,546
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,271

In [16]:
df.sort_values('Total', ascending=False)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,678
150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,675
150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,675
383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,673
382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,673
...,...,...,...,...,...,...,...,...,...,...,...,...
191,Sunkern,Grass,NaN,30,30,30,30,30,30,2,False,152
10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,151
298,Azurill,Normal,Fairy,50,20,40,20,40,20,3,False,143
440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False,124
174,Igglybuff,Normal,Fairy,90,30,15,40,20,15,2,False,122

In [17]:
# drop column
df = df.drop(columns='Total')

In [18]:
df.head(5)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [19]:
# reordering columns
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

In [20]:
df.head(5)

,Name,Type 1,Type 2,HP,Legendary,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,False,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,False,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,False,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,False,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,False,52,43,60,50,65,1,False

## Saving Data

In [21]:
# csv
df.to_csv('./data/pokemons/mod_csv_for_pokemons.csv', index=False)

In [22]:
# xlsx
df.to_excel('./data/pokemons/mod_csv_for_pokemons.xlsx', index=False)

In [23]:
# txt
df.to_csv('./data/pokemons/mod_csv_for_pokemons.txt', index=False, sep='\t')

## Filtering Data

In [24]:
# filter by Pandas syntax
df.loc[((df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')) | ((df['Generation'] == 5) * (df['HP'] > 160))]

,Name,Type 1,Type 2,HP,Legendary,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,False,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,False,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,False,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,False,100,123,122,120,80,1,False
43,Oddish,Grass,Poison,45,False,50,55,75,65,30,1,False
44,Gloom,Grass,Poison,60,False,65,70,85,75,40,1,False
45,Vileplume,Grass,Poison,75,False,80,85,110,90,50,1,False
69,Bellsprout,Grass,Poison,50,False,75,35,70,30,40,1,False
70,Weepinbell,Grass,Poison,65,False,90,50,85,45,55,1,False
71,Victreebel,Grass,Poison,80,False,105,65,100,70,70,1,False
315,Roselia,Grass,Poison,50,False,60,45,100,80,65,3,False
406,Budew,Grass,Poison,40,False,30,35,50,70,55,4,False
407,Roserade,Grass,Poison,60,False,70,65,125,105,90,4,False
590,Foongus,Grass,Poison,69,False,55,45,55,55,15,5,False
591,Amoonguss,Grass,Poison,114,False,85,70,85,80,30,5,False
594,Alomomola,Water,NaN,165,False,75,80,40,45,65,5,False

In [25]:
# complex filter
import re
df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]

,Name,Type 1,Type 2,HP,Legendary,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,False,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,False,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,False,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,False,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,False,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
667,Litleo,Fire,Normal,62,False,50,58,73,54,72,6,False
668,Pyroar,Fire,Normal,86,False,68,72,109,66,106,6,False
672,Skiddo,Grass,NaN,66,False,65,48,62,57,52,6,False
673,Gogoat,Grass,NaN,123,False,100,62,97,81,68,6,False
721,Volcanion,Fire,Water,80,True,110,120,130,90,70,6,True

## Conditional Changes

In [29]:
df_mod = pd.read_csv('./data/pokemons//mod_csv_for_pokemons.csv')

In [30]:
# simple changes
df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'

In [31]:
df

,Name,Type 1,Type 2,HP,Legendary,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,False,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,False,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,False,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,False,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,False,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,True,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,True,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,True,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,True,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,True,110,120,130,90,70,6,True

In [32]:
# complex changes
df.loc[df['HP'] > 40, ['Generation', 'Legendary']] = 'WOW!'

In [33]:
df

,Name,Type 1,Type 2,HP,Legendary,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,WOW!,49,49,65,65,45,WOW!,WOW!
2,Ivysaur,Grass,Poison,60,WOW!,62,63,80,80,60,WOW!,WOW!
3,Venusaur,Grass,Poison,80,WOW!,82,83,100,100,80,WOW!,WOW!
3,VenusaurMega Venusaur,Grass,Poison,80,WOW!,100,123,122,120,80,WOW!,WOW!
4,Charmander,Fire,NaN,39,False,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,WOW!,100,150,100,150,50,WOW!,WOW!
719,DiancieMega Diancie,Rock,Fairy,50,WOW!,160,110,160,110,110,WOW!,WOW!
720,HoopaHoopa Confined,Psychic,Ghost,80,WOW!,110,60,150,130,70,WOW!,WOW!
720,HoopaHoopa Unbound,Psychic,Dark,80,WOW!,160,60,170,130,80,WOW!,WOW!
721,Volcanion,Fire,Water,80,WOW!,110,120,130,90,70,WOW!,WOW!

## Aggregate statistics

In [34]:
# group by type
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

                 HP      Attack     Defense    Sp. Atk    Sp. Def       Speed
Type 1
Steel     65.222222   92.703704  126.370370  67.518519  80.629630   55.259259
Rock      65.363636   92.863636  100.795455  63.340909  75.477273   55.909091
Dragon    83.312500  112.125000   86.375000  96.843750  88.843750   83.031250
Ground    73.781250   95.750000   84.843750  56.468750  62.750000   63.906250
Ghost     64.437500   73.781250   81.187500  79.343750  76.468750   64.343750
Water     72.062500   74.151786   72.946429  74.812500  70.517857   65.964286
Ice       72.000000   72.750000   71.416667  77.541667  76.291667   63.458333
Grass     67.271429   73.214286   70.800000  77.500000  70.428571   61.928571
Bug       56.884058   70.971014   70.724638  53.869565  64.797101   61.681159
Dark      66.806452   88.387097   70.225806  74.645161  69.516129   76.161290
Poison    67.250000   74.678571   68.821429  60.428571  64.392857   63.571429
Fire      69.903846   84.769231   67.769231  88.980769  72.211538   74.442308
Psychic   70.631579   71.456140   67.684211  98.403509  86.280702   81.491228
Electric  59.795455   69.090909   66.295455  90.022727  73.704545   84.500000
Flying    70.750000   78.750000   66.250000  94.250000  72.500000  102.500000
Fighting  69.851852   96.777778   65.925926  53.111111  64.703704   66.074074
Fairy     74.117647   61.529412   65.705882  78.529412  84.705882   48.588235
Normal    77.275510   73.469388   59.846939  55.816327  63.724490   71.551020

In [35]:
df.groupby(['Type 1']).size()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
dtype: int64

In [36]:
# complex groupby
df.groupby(['Type 1', 'Type 2']).size()

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Length: 136, dtype: int64

## Working with large amounts of Data

In [37]:
# read by chunks (by rows)
df = pd.read_csv('./data/pokemons/pokemon_data.csv', chunksize=5)

In [38]:
for df in pd.read_csv('./data/pokemons/pokemon_data.csv', chunksize=100):
    print(df.head(2))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False
      #     Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
100  93  Haunter  Ghost  Poison  45      50       45      115       55     95
101  94   Gengar  Ghost  Poison  60      65       60      130       75    110

     Generation  Legendary
100           1      False
101           1      False
       #       Name Type 1 Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
200  185  Sudowoodo   Rock    NaN  70     100      115       30       65
201  186   Politoed  Water    NaN  90      75       75       90      100

     Speed  Generation  Legendary
200     30           2      False
201     70           2      False
       #     Name  Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
300  277  Swellow  Normal  Flying  60      85       60       50       50
301  278  Wingull   Water  Flying  40      30       30       55       30

     Speed  Generation  Legendary
300    125           3      False
301     85           3      False
       #      Name Type 1 Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
400  365   Walrein    Ice  Water  110      80       90       95       90
401  366  Clamperl  Water    NaN   35      64       85       74       55

     Speed  Generation  Legendary
400     65           3      False
401     32           3      False
       #       Name  Type 1 Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
500  450  Hippowdon  Ground    NaN  108     112      118       68       72
501  451    Skorupi  Poison    Bug   40      50       90       30       55

     Speed  Generation  Legendary
500     47           4      False
501     65           4      False
       #      Name Type 1 Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
600  540  Sewaddle    Bug  Grass  45      53       70       40       60
601  541  Swadloon    Bug  Grass  55      63       90       50       80

     Speed  Generation  Legendary
600     42           5      False
601     42           5      False
       #       Name Type 1    Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
700  639  Terrakion   Rock  Fighting  91     129       90       72       90
701  640   Virizion  Grass  Fighting  91      90       72       90      129

     Speed  Generation  Legendary
700    108           5       True
701    108           5       True